In [2]:
!pip install pandas numpy

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
# Importing necessary libraries
import pandas as pd
import numpy as np

In [6]:
# Step 1: Load the dataset
file_path = 'blogtext.csv'
df = pd.read_csv(file_path)

In [12]:
 #Step 2: Inspect the dataset
print("Original Dataset:")
print(df.head(50))

Original Dataset:
         id gender  age              topic      sign          date  \
0   2059027   male   15            Student       Leo   14,May,2004
1   2059027   male   15            Student       Leo   13,May,2004
2   2059027   male   15            Student       Leo   12,May,2004
3   2059027   male   15            Student       Leo   12,May,2004
4   3581210   male   33  InvestmentBanking  Aquarius  11,June,2004
5   3581210   male   33  InvestmentBanking  Aquarius  10,June,2004
6   3581210   male   33  InvestmentBanking  Aquarius  10,June,2004
7   3581210   male   33  InvestmentBanking  Aquarius  10,June,2004
8   3581210   male   33  InvestmentBanking  Aquarius  10,June,2004
9   3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
10  3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
11  3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
12  3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
13  3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
14  3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
15  3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
16  3581210   male   33  InvestmentBanking  Aquarius  09,June,2004
17  3581210   male   33  InvestmentBanking  Aquarius  18,June,2004
18  3581210   male   33  InvestmentBanking  Aquarius  17,June,2004
19  3581210   male   33  InvestmentBanking  Aquarius  16,June,2004
20  3581210   male   33  InvestmentBanking  Aquarius  15,June,2004
21  3581210   male   33  InvestmentBanking  Aquarius  14,June,2004
22  3581210   male   33  InvestmentBanking  Aquarius  13,June,2004
23  3581210   male   33  InvestmentBanking  Aquarius  23,June,2004
24  3581210   male   33  InvestmentBanking  Aquarius  22,June,2004
25  3581210   male   33  InvestmentBanking  Aquarius  20,June,2004
26  3581210   male   33  InvestmentBanking  Aquarius  02,July,2004
27  3581210   male   33  InvestmentBanking  Aquarius  01,July,2004
28  3581210   male   33  InvestmentBanking  Aquarius  01,July,2004
29  3581210   male   33  InvestmentBanking  Aquarius  30,June,2004
30  3581210   male   33  InvestmentBanking  Aquarius  29,June,2004
31  3581210   male   33  InvestmentBanking  Aquarius  29,June,2004
32  3581210   male   33  InvestmentBanking  Aquarius  29,June,2004
33  3581210   male   33  InvestmentBanking  Aquarius  29,June,2004
34  3581210   male   33  InvestmentBanking  Aquarius  29,June,2004
35  3581210   male   33  InvestmentBanking  Aquarius  27,June,2004
36  3581210   male   33  InvestmentBanking  Aquarius  10,July,2004
37  3581210   male   33  InvestmentBanking  Aquarius  09,July,2004
38  3581210   male   33  InvestmentBanking  Aquarius  08,July,2004
39  3581210   male   33  InvestmentBanking  Aquarius  07,July,2004
40  3581210   male   33  InvestmentBanking  Aquarius  06,July,2004
41  3581210   male   33  InvestmentBanking  Aquarius  05,July,2004
42  3581210   male   33  InvestmentBanking  Aquarius  04,July,2004
43  3581210   male   33  InvestmentBanking  Aquarius  14,July,2004
44  3581210   male   33  InvestmentBanking  Aquarius  13,July,2004
45  3581210   male   33  InvestmentBanking  Aquarius  13,July,2004
46  3581210   male   33  InvestmentBanking  Aquarius  12,July,2004
47  3581210   male   33  InvestmentBanking  Aquarius  11,July,2004
48  3581210   male   33  InvestmentBanking  Aquarius  23,July,2004
49  3581210   male   33  InvestmentBanking  Aquarius  22,July,2004

                                                 text
0              Info has been found (+/- 100 pages,...
1              These are the team members:   Drewe...
2              In het kader van kernfusie op aarde...
3                    testing!!!  testing!!!
4                Thanks to Yahoo!'s Toolbar I can ...
5                I had an interesting conversation...
6                Somehow Coca-Cola has a way of su...
7                If anything, Korea is a country o...
8                Take a read of this news article ...
9                I surf the English news sites a l...
10               Ah, the Korean language...it look...
11               If you click on my profile you'll...
12               Last night was pretty fun...mostl...
13               There is so much that is differen...
14                urlLink    Here it is, the super...
15               One thing I love about Seoul (and...
16                urlLink    Wonderful oh-gyup-sal...
17               Here is the latest from the Korea...
18               Well, I stand corrected, again.  ...
19               So I've been in Vancouver a few d...
20               Whenever I see a pregnant Korean ...
21               My wife posed a strange question ...
22               As readers will know, my favorite...
23               When I was in Seoul these last fe...
24               You may have noticed a new featur...
25               Korea, especially Seoul, is prett...
26               It seems everything is not all th...
27               This may be a long blog...got a l...
28               I've always thought of Seoul's  u...
29               Big cities are famous for being e...
30               Koreans have a great sense of com...
31                urlLink    The business class ta...
32               I used to cook for myself all the...
33               I often wondered where the restau...
34               It feels like I didn't even leave...
35               It's been a busy last couple of w...
36               A night out in Korea can seem pre...
37               Some of you may remember my first...
38               Sometimes this place really makes...
39               A readers will know, shopping in ...
40               Recently I downloaded Go-Stop (a ...
41               One of my favorite places in 여의도 ...
42               Over the last few weeks I've been...
43               In any developing country (and I ...
44               Koreans have an interesting sayin...
45               This  urlLink Korea Times Busines...
46                urlLink     Paris Lovers...what ...
47               I must have been nuts.  Every 2-3...
48                Just so you know, this blog isn'...
49               Korea is, as you may have guessed...

In [16]:
print(df.columns.tolist())

['id', 'gender', 'age', 'topic', 'sign', 'date', 'text']

In [18]:
print(df.isnull().sum())

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [22]:
# Step 3: Handle Missing Values
# Fill missing age values with the median age and salary with the mean salary
df['age'] = df['age'].fillna(df['age'].median())
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
df['topic'] = df['topic'].fillna(df['topic'].mode()[0])
df['sign'] = df['sign'].fillna(df['sign'].mode()[0])
df['date'] = df['date'].fillna('2000-01-01')

In [24]:
# Step 4: Remove Duplicates
df.drop_duplicates(inplace=True)

In [28]:
# Step 5: Normalize Categorical Data (e.g., Department)
# Convert department to lowercase for consistency
# Convert 'topic' column to lowercase for consistency
df['topic'] = df['topic'].str.lower()

# Convert 'sign' column to lowercase for consistency
df['sign'] = df['sign'].str.lower()

In [32]:
# Step 6: Format Date Columns
# Convert 'join_date' to datetime format
# Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [34]:
# Step 7: Create New Features (e.g., Experience in years)
# Assuming 'date' shows the date when they joined the company
current_year = pd.to_datetime('today').year
df['experience'] = current_year - df['date'].dt.year

In [36]:
# Removing age outliers using the Interquartile Range (IQR) method
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1

# Calculate the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers from the age column
df = df[(df['age'] >= lower_bound) & (df['age'] <= upper_bound)]

In [38]:
# Step 9: Save the cleaned dataset
cleaned_file_path = 'cleaned_sample_data.csv'
df.to_csv(cleaned_file_path, index=False)

In [42]:
# Step 10: Review the cleaned dataset
print("\nCleaned Dataset:")
print(df.head(50))

Cleaned Dataset:
         id gender  age              topic      sign       date  \
0   2059027   male   15            student       leo 2004-05-14
1   2059027   male   15            student       leo 2004-05-13
2   2059027   male   15            student       leo 2004-05-12
3   2059027   male   15            student       leo 2004-05-12
4   3581210   male   33  investmentbanking  aquarius 2004-06-11
5   3581210   male   33  investmentbanking  aquarius 2004-06-10
6   3581210   male   33  investmentbanking  aquarius 2004-06-10
7   3581210   male   33  investmentbanking  aquarius 2004-06-10
8   3581210   male   33  investmentbanking  aquarius 2004-06-10
9   3581210   male   33  investmentbanking  aquarius 2004-06-09
10  3581210   male   33  investmentbanking  aquarius 2004-06-09
11  3581210   male   33  investmentbanking  aquarius 2004-06-09
12  3581210   male   33  investmentbanking  aquarius 2004-06-09
13  3581210   male   33  investmentbanking  aquarius 2004-06-09
14  3581210   male   33  investmentbanking  aquarius 2004-06-09
15  3581210   male   33  investmentbanking  aquarius 2004-06-09
16  3581210   male   33  investmentbanking  aquarius 2004-06-09
17  3581210   male   33  investmentbanking  aquarius 2004-06-18
18  3581210   male   33  investmentbanking  aquarius 2004-06-17
19  3581210   male   33  investmentbanking  aquarius 2004-06-16
20  3581210   male   33  investmentbanking  aquarius 2004-06-15
21  3581210   male   33  investmentbanking  aquarius 2004-06-14
22  3581210   male   33  investmentbanking  aquarius 2004-06-13
23  3581210   male   33  investmentbanking  aquarius 2004-06-23
24  3581210   male   33  investmentbanking  aquarius 2004-06-22
25  3581210   male   33  investmentbanking  aquarius 2004-06-20
26  3581210   male   33  investmentbanking  aquarius 2004-07-02
27  3581210   male   33  investmentbanking  aquarius 2004-07-01
28  3581210   male   33  investmentbanking  aquarius 2004-07-01
29  3581210   male   33  investmentbanking  aquarius 2004-06-30
30  3581210   male   33  investmentbanking  aquarius 2004-06-29
31  3581210   male   33  investmentbanking  aquarius 2004-06-29
32  3581210   male   33  investmentbanking  aquarius 2004-06-29
33  3581210   male   33  investmentbanking  aquarius 2004-06-29
34  3581210   male   33  investmentbanking  aquarius 2004-06-29
35  3581210   male   33  investmentbanking  aquarius 2004-06-27
36  3581210   male   33  investmentbanking  aquarius 2004-07-10
37  3581210   male   33  investmentbanking  aquarius 2004-07-09
38  3581210   male   33  investmentbanking  aquarius 2004-07-08
39  3581210   male   33  investmentbanking  aquarius 2004-07-07
40  3581210   male   33  investmentbanking  aquarius 2004-07-06
41  3581210   male   33  investmentbanking  aquarius 2004-07-05
42  3581210   male   33  investmentbanking  aquarius 2004-07-04
43  3581210   male   33  investmentbanking  aquarius 2004-07-14
44  3581210   male   33  investmentbanking  aquarius 2004-07-13
45  3581210   male   33  investmentbanking  aquarius 2004-07-13
46  3581210   male   33  investmentbanking  aquarius 2004-07-12
47  3581210   male   33  investmentbanking  aquarius 2004-07-11
48  3581210   male   33  investmentbanking  aquarius 2004-07-23
49  3581210   male   33  investmentbanking  aquarius 2004-07-22

                                                 text  experience
0              Info has been found (+/- 100 pages,...        20.0
1              These are the team members:   Drewe...        20.0
2              In het kader van kernfusie op aarde...        20.0
3                    testing!!!  testing!!!                  20.0
4                Thanks to Yahoo!'s Toolbar I can ...        20.0
5                I had an interesting conversation...        20.0
6                Somehow Coca-Cola has a way of su...        20.0
7                If anything, Korea is a country o...        20.0
8                Take a read of this news article ...        20.0
9                I surf the English news sites a l...        20.0
10               Ah, the Korean language...it look...        20.0
11               If you click on my profile you'll...        20.0
12               Last night was pretty fun...mostl...        20.0
13               There is so much that is differen...        20.0
14                urlLink    Here it is, the super...        20.0
15               One thing I love about Seoul (and...        20.0
16                urlLink    Wonderful oh-gyup-sal...        20.0
17               Here is the latest from the Korea...        20.0
18               Well, I stand corrected, again.  ...        20.0
19               So I've been in Vancouver a few d...        20.0
20               Whenever I see a pregnant Korean ...        20.0
21               My wife posed a strange question ...        20.0
22               As readers will know, my favorite...        20.0
23               When I was in Seoul these last fe...        20.0
24               You may have noticed a new featur...        20.0
25               Korea, especially Seoul, is prett...        20.0
26               It seems everything is not all th...        20.0
27               This may be a long blog...got a l...        20.0
28               I've always thought of Seoul's  u...        20.0
29               Big cities are famous for being e...        20.0
30               Koreans have a great sense of com...        20.0
31                urlLink    The business class ta...        20.0
32               I used to cook for myself all the...        20.0
33               I often wondered where the restau...        20.0
34               It feels like I didn't even leave...        20.0
35               It's been a busy last couple of w...        20.0
36               A night out in Korea can seem pre...        20.0
37               Some of you may remember my first...        20.0
38               Sometimes this place really makes...        20.0
39               A readers will know, shopping in ...        20.0
40               Recently I downloaded Go-Stop (a ...        20.0
41               One of my favorite places in 여의도 ...        20.0
42               Over the last few weeks I've been...        20.0
43               In any developing country (and I ...        20.0
44               Koreans have an interesting sayin...        20.0
45               This  urlLink Korea Times Busines...        20.0
46                urlLink     Paris Lovers...what ...        20.0
47               I must have been nuts.  Every 2-3...        20.0
48                Just so you know, this blog isn'...        20.0
49               Korea is, as you may have guessed...        20.0